
  /* Imported Font */
  @import 'https://fonts.googleapis.com/css?family=Lato:400,700';

  /* Color Variables */
  :root {
    --white: #e3dfdf;
    --black: #231928;
    --light-gray: #bfbdca;
    --gold: rgb(255, 200, 0);
    --primary-bg: #f7f7f7;
    --primary-text: #333;
    --accent: #007bff;
    --accent-hover: #0056b3;
    --btn-bg: var(--gold);
    --btn-hover: green;
  }

  /* General Styling */
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-size: 10px;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100%;
    overflow-x: hidden;

    background-image: linear-gradient(to right,white,violet);
  }

  h2 {
    font-size: 2.4rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }

  .btn {
    display: block;
    background: var(--btn-bg);
    padding: 1rem 2rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    transition: 0.2s;
  }

  input[type="submit"] {
    font-weight: 600;
    margin-top: 1.2rem;
  }

  .btn:hover {
    background-color: var(--btn-hover);
    color: var(--white);
  }

  /* Header Styling */
  #header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }

  .logo {
    width: 300px;
    height: 100%;
    max-height: 55px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-link {
    display: block;
    padding: 1rem 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    background-color: var(--primary-bg);
    font-size: 1.8rem;
  }

  .nav-link:hover {
    background-color: var(--accent);
    color: #000;
  }

  /* Main Container */
  .container {
    position: relative;
    width: 100%;
  }

  /* Hero Section */
  #hero {
    width: 100%;
    text-align: center;
    height: 40vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }

  #hero h2 {
    max-width: 80%;
  }

  #hero form {
    width: 80%;
  }

  input[type="email"] {
    width: 80%;
    max-width: 250px;
    padding: 0.8rem 1rem;
  }

  /* Features Section */

  #features,
  #pricing {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }

  #features {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* Animate on scroll */
  .hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
  }

  .show {
    opacity: 1;
    transform: translateX(0);
  }

  .icon {
    color: var(--accent);
    justify-self: center;
    align-self: center;
  }

  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
   
    }}